body, *, *:before, *after {
	box-sizing: border-box;
}

html, body {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
	color: #474747;
}
h1,h2,h3,h4,h5,h6 {
	font-family: "Economica", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em; 
}

.title {
	font-family: "Economica", sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 0 1em; 
}

h2 {
	font-size: 1.6rem;
}

h3{
	font-size: 1.2rem;
	background-color: rgb(162, 225, 242);
	text-align: center;
	width: 220px;
	position: relative;
	bottom: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}


a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}

a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

p {
	margin: 0.5em 0;
	line-height: 1.3;
}

.fixed-width {
	width: 940px;
	margin: 0 auto;
}

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}
.clearfix:after {
	clear: both;
}

.data-block {
	margin-bottom: 3rem;
}
/*===========Header===============*/

.page-header {
	border-top: 5px solid #ebebeb;
	padding-bottom: 2em;
}
.page-header > div {
	position: relative;
}
.page-header .identity {
	font-family: "Pacifico", cursive;
	font-size: 3.5em;
	position: absolute;
	bottom: 0;
}
.page-header nav {
	float: right;
	font-family: "Economica", sans-serif;
	text-transform: uppercase;
}

.page-header nav li{
	color: #bfbfbf;
	float: left;
	margin-right: 3rem;
	padding-top: 3rem; 
}
.page-header nav li:last-child {
	margin-right: 0
}
.page-header nav li em{
	display: block;
	font-size: 1.6rem;
	color: #474747;
}


/*=====================claims=====================*/

.claim {
	float: left;
	width: 30%;
	margin-right: 5%; 
}

.claim:last-child {
	margin-right: 0;
}

/*=====================portfolio==================*/

.portfolio {
	position: relative;
}

.portfolio:before {
	content: " ";
	display: block;
	height: 30px;
	background-color: gray;
	margin-bottom: 2em;
}

.portfolio .title-wrapper{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;
}

.portfolio h2 {
	background-color: white;
	display: inline;
	padding: 0.8em;
}
/*=====================Footer=====================*/

.page-footer {
background-color: #f4f4f4;
color: #9b9b9b;
font-size: 1rem;
height: 70px;
}

.page-footer .copyright {
	float: left;
	padding-top: 2rem;
}

.page-footer .credits {
	float: right;
	padding-top: 2rem;
}

.page-footer-content {
	padding: 1em 0;
}


/*==================main body==============*/

.main-visual {
	display: block;
}

.main-visual figcaption {
	background-color: #f6f6f6;
	padding: 0.5em 1em;
}

.main-visual figcaption > strong {
	font-size: 1.4em;
}

.work {
	float: left;
	width: 22%;
	margin-right: 4%;
}

.work:last-child {
	margin-right: 0;
}

.work figure {
	margin-bottom: 1em;
}

.work figure > img {
    position: relative;
}


/*=================================image grid===============================*/

/*.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

.column img {
  margin-top: 12px;
}*/


/*=================================slideshow===================================*/

img {
  vertical-align: middle;
}

.container {
  position: relative;
  box-sizing: border-box;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.column {
  float: left;
  width: 10%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}




